<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>HOME</title>
</head>
</head>

<style>
     .background {
          background: rgb(0, 78, 146);
          background: linear-gradient(132deg, rgba(0, 78, 146, 1) 4%, rgba(17, 16, 16, 1) 100%);
          position: absolute;
          height: 100vh;
          width: 100vw;
     }

     .details {
          display: flex;
          justify-content: space-around;
          margin-top: 100px;
     }

     .bankname {
          text-align: center;
          margin-top: 50px;
          color: rgb(253, 250, 250);
          text-shadow: rgb(0, 0, 0) 5px 5px 2px;
     }

     .cont {
          color: yellow;
          font-size: 1.5rem;
          text-shadow: rgb(0, 0, 0) 2px 2px 2px;
     }

     .carddet {
          display: flex;
          align-items: flex-end;
          justify-content: right;
          margin-top: 80px;
          margin-right: 80%;
          width: 100%;
     }

     .btn {
          background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
          font-size: 15px;
          color: rgb(116, 58, 1);
          border-radius: 10px;
          text-decoration: none;
          height: 20%;
          width: 8%;
          padding: 15px;
          margin: 20px;
          font-weight: bolder;
          margin-right: 8%;
          margin-bottom: 2px;
          text-align: center;
     }

     .carddet a:hover {
          border: 0px solid white;
          box-shadow: rgb(255, 108, 108) 5px 5px 7px;
     }

     .lastbar {
          border-top: 2px solid white;
          border-bottom: 2px solid white;
          height: 28px;
          position: fixed;
          width: 100vw;
          margin-top: 40px;
          bottom: 0px;
     }

     .lastbar::before {
          content: "for more such loans and funds visits our bank at HTML vila at CSS city in JAVASCRIPT state. Our new branch is opened whose address is jsx villa at react city in mern stack state. we are going to spread our branches at other cities ";
          overflow: hidden;
          position: relative;
          color: white;
          left: 99%;
          margin-left: 20px;
          animation: tran 70s infinite linear;
     }


     @keyframes tran {

          100% {
               left: -99%;
          }
     }


     .carddet h3 {
          color: rgb(255, 205, 205);
          text-shadow: rgb(0, 26, 6) 2px 2px 2px;

     }
</style>

<body>

     <div class="background">

          <h1 class="bankname">SK_PROGRAMMER'S BANK</h1>
          <div class="details">
               <div class="inside">
                    <h1 class="cont"> Home Loan</h1>
                    <h1 class="cont"> Car Loan</h1>
                    <h1 class="cont"> Personal Loan</h1>
               </div>
               <div class="inside">
                    <h1 class="cont">Gold Loan</h1>
                    <h1 class="cont">Education Loan</h1>
                    <h1 class="cont">programmer's Loan</h1>
               </div>
          </div>
          <div class="carddet">
               <h3> IF YOU HAD CARD AND WANT TO WIDRAW THEN PRESS ON THE CARD ELSE GENRATE CARD</h3>
               <a class="btn" href="/carddetails">CARD</a>
               <a class="btn" href="/genratecard">GENRATE CARD</a>
          </div>
          <div class="lastbar">
          </div>
     </div>
</body>

</html>